/*
Theme Name: Agile Solutions PK
Theme URI: http://agilesolutionspk.com
Description: A style-free theme to get you started on an HTML5-based WordPress theme of your own.
Author: Agile Solutions PK
Author URI: http://agilesolutionspk.com
Version: 1.0
*/
/* fonts */

@font-face {

 font-family: 'FuturaStdBook';

 src: url('fonts/futurastd-book.eot');

 src: url('fonts/futurastd-book.eot') format('embedded-opentype'),  url('fonts/futurastd-book.woff') format('woff'),  url('fonts/futurastd-book.ttf') format('truetype'),  url('fonts/futurastd-book.svg#FuturaStdBook') format('svg');

}

@font-face {

 font-family: 'FuturaStdBold';

 src: url('fonts/futurastd-bold.eot');

 src: url('fonts/futurastd-bold.eot') format('embedded-opentype'),  url('fonts/futurastd-bold.woff') format('woff'),  url('fonts/futurastd-bold.ttf') format('truetype'),  url('fonts/futurastd-bold.svg#FuturaStdBold') format('svg');

}

@font-face {

 font-family: 'FuturaStdMedium';

 src: url('fonts/futura_std_medium.eot');

 src: url('fonts/futura_std_medium.eot') format('embedded-opentype'),  url('fonts/futura_std_medium.woff') format('woff'),  url('fonts/futura_std_medium.ttf') format('truetype'),  url('fonts/futura_std_medium.svg#FuturaStdMedium') format('svg');

}

 @font-face {

 font-family: 'FuturaStdLight';

 src: url('fonts/futurastd-light.eot');

 src: url('fonts/futurastd-light.eot') format('embedded-opentype'),  url('fonts/futurastd-light.woff') format('woff'),  url('fonts/futurastd-light.ttf') format('truetype'),  url('fonts/futurastd-light.svg#FuturaStdLight') format('svg');

}

@font-face {

 font-family: 'GaramondPremierProItalicDisplay';

 src: url('fonts/garamondpremrpro-itdisp.eot');

 src: url('fonts/garamondpremrpro-itdisp.eot') format('embedded-opentype'),  url('fonts/garamondpremrpro-itdisp.woff') format('woff'),  url('fonts/garamondpremrpro-itdisp.ttf') format('truetype'),  url('fonts/garamondpremrpro-itdisp.svg#GaramondPremierProItalicDisplay') format('svg');

}

@font-face {

 font-family: 'GaramondPremierProRegular';

 src: url('fonts/garamondpremrpro.eot');

 src: url('fonts/garamondpremrpro.eot') format('embedded-opentype'),  url('fonts/garamondpremrpro.woff') format('woff'),  url('fonts/garamondpremrpro.ttf') format('truetype'),  url('fonts/garamondpremrpro.svg#GaramondPremierProRegular') format('svg');

}

@font-face {

 font-family: 'DidotLTStdItalic13774';

 src: url('fonts/Didot-LT-Std-Italic_13774.eot');

 src: url('fonts/Didot-LT-Std-Italic_13774.eot') format('embedded-opentype'),  url('fonts/Didot-LT-Std-Italic_13774.woff') format('woff'),  url('fonts/Didot-LT-Std-Italic_13774.ttf') format('truetype'),  url('fonts/Didot-LT-Std-Italic_13774.svg#Didot-LT-Std-Italic_13774') format('svg');

}





.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
/* body, select, input, textarea {color: #333;} */

a {color: #bcbec0 !important;}
a:hover {color: #69f; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
/* a:link {-webkit-tap-highlight-color: #fcd700;} */

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }


/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {

}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Always do mobile-first, and consider using em units: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw

@media screen and (min-width: 480px) {

} */
a {
	color: #bcbec0 !important;
}
a:hover {
	color:  #666 !important;
	text-decoration: none !important;
}
body {
	 padding:0px; 
	 letter-spacing: 1.3px;
	 overflow-x:hidden;
	 background: #ffffff;
	 color:#a7a9ac !important;
	 font: 'FuturaStdBook',​sans-serif  !important;
}
body:after { content: "\0020"; display: block; height: 0; overflow: hidden; clear: both; }
body:before, body:after { content: ""; display: table; }

body:after { clear: both; }
#wrapper { 
	margin-left:1%;
	margin-right:2%;
	width: 97%;
	overflow-x:hidden;
}
p{
	color: #a7a9ac;
	margin: 0 0 1.118em 0;
}
h1{
	text-transform: uppercase !important;
	font-size: 1.618em !important;
	line-height: 1.387em !important;
	color: #a7a9ac !important;
	margin: 0 0 .618em !important;
	font-weight: normal !important;
}
#header {
	padding-top: 0;
	position: relative; 
}
#header .header-top {
    display: inline;
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 23px;
    margin-bottom: 0px;
    background: #ffffff;
	
    position:relative;
  }
#header .header-top .row1 #logo {
	 display: block; 
	 float: left;
	 margin-bottom: 0;
	 margin-left: 30%; 
	 top:55px;
	 margin-right: 1.38889%; 
	 max-width: 100%; 
	 width: 34%;
 }
.login_link { 
	 font:12px/39px 'FuturaStdMedium';
	 text-transform:uppercase; 
	 color:#bcbec0; 
	 float:left; 
	 margin-right: 10px;
 }
ul.nav.cl { 
	float:right;
 }
ul.nav.cl li a { 
	 padding: 1em 2.887em 1.657em 0;
	 display: block; 
	 color: #BCBEC0; 
	 font: 12px 'FuturaStdMedium'; 
	 text-transform: uppercase; 
	 position: relative;
 }
ul.nav.cl li a i.wpmenucart-icon-shopping-cart-0 {
	 width:34px; 
	 height:30px;
	 position:absolute; 
	 top:0; 
	 right:0;
 }
.header_right ul.nav.cl li a span {
	display: inline-block;
	font-family: 'FuturaStdMedium';
}
.clr {
	clear: both;
}
 #navigation_left {
    display: block !important;
    margin-bottom: 0;
    display: inline;
    float: left;
    width: 65%;
    margin-left: 0;
    margin-right: 0;
	margin-top:4em;
  }
  #navigation_right{
    display: block !important;
    margin-bottom: 0;
    display: inline;
    float: left;
    width: 35%;
    margin-left: 0;
    margin-right: 0;
	margin-top:4em;
  }
ul.nav ul.sub-menu,
ul.nav ul.children {
    width: 13.456em;
    visibility: hidden;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999;
    margin: 0;
	border-top: 4px solid #b5b5b5;
	background:#fff;
}
 .main-top-bar-nav li {
	 display: inline-block !important;
	 list-style: none;
	 position: relative;
	 padding: 0 8px 0 7px;
	 font-size: 12px !important;
}
.main-top-bar-nav li a {
	color:#bcbec0; 
	text-decoration:none !important;
	font-weight:bold;
}
.main-top-bar-nav li a:hover {
	color: #666;
}
.footer-wrap {
   background: none repeat scroll 0 0 #e6e6e6;
  /*  padding-left: 1em; */
   padding-top: 1em;
   margin-top: 1em;
  }
#footer {
	padding: 0 0 0.818em 0;
	margin-top: 0.018em;
	letter-spacing: normal;
}
.aspk_nav_menu{

	

}
.top-1 {
	margin-top:1em;
}

.aspk_nav_menu li {

	display: inline-block;

	position: relative;

}
.aspk_nav_menu li a {
	color:#bcbec0;
	text-transform: inherit;
	font-weight: normal;
	padding: 0 5px;
	font: 14px 'FuturaStdBook';
}
.aspk_nav_menu li a:hover {
	 text-decoration: none;
}
.aspk_nav_menu_footer {

}
.aspk_nav_menu_footer li {

	display: inline-block;

	position: relative;

}
.aspk_nav_menu_footer li a {
	color:#565656 !important;
	border-right: 1px solid ;
	text-transform: inherit;
	font-weight: normal;
	padding: 0 17px;
	font: 14px 'FuturaStdBook';
}
.aspk_nav_menu_footer li a:hover {
	color: #565656 !important;
}
.aspk_nav_menu_footer li a:hover {
	 text-decoration: none;
}
.aspk_nav_menu_footer li:last-child a {
    border-right: medium none;
}
.search_field {
	height: 2.5em;
    padding-left: 1em;
    width: 20em;
	margin-top:3em;
}
#s{
	height: 2.5em;
    padding-left: 1em;
    width: 20em;
	margin-top:3em;
	margin-right:2em;
	outline:none;
}
form#searchform > div > #s:hover {
	border:1px solid #000000;
}
.m_down {
	margin-bottom:2em;
}
.img_cart {
	width:14em;
}
.negative_margin {
	margin-left:-2em;
}
.left_class {
	float:left;
}
.float_right {
	float:right;
}
.clear_both {
	float:left;
	clear:left;
}
.cart_image {
	margin-left:5px;
	margin-top:-5px;
}
.minheight {
	min-height:500px;
}
.page_heading{
	color: #bcbec0;
	font-size: 1.618em;
	line-height: 1.387em;
	text-transform: uppercase;
	
}

.price > ins .amount {
	color: #bcbec0;
	font: 12px 'FuturaStdBook';
}

.price > del .amount{
	color: #bcbec0;
    /* text-decoration: line-through; */
	margin-right:1.3em;
	min-width:1px;
	font: 12px 'FuturaStdBook'
}


a.edit:before {
	font-family: 'FontAwesome';
	display: inline-block;
	font-size: 100%;
	margin-right: .618em;	
	width: 1em;
	content: "\f044";
	font-weight: bold;
    text-decoration:none;
	margin-top: 1.5em;
	color: #a7a9ac;
}

#mini_top_color {
	margin-top:-0.1em;
	color:#bcbec0;
}
.img_minis_left {
	margin-left: -1em;
}
.title > h3 > a:hover {
	color: #666666;
}

.myaccount_user >h3{
	text-transform:lowercase;
}
.myaccount_user >a{
	color: #a7a9ac;
	}

.title > h3 > a{
	color: red;	
}	
.breadcrumb > li {
	font-size:12px;
	font-family: 'FuturaStdMedium';
	text-transform: uppercase !important;
}
.breadcrumb > li > a {
	color: #a7a9ac !important;
	font-weight: normal !important;
	font-family: 'FuturaStdBold';
}
.breadcrumb > li > a:hover {
	color: #666666 !important;
}
.breadcrumb {
	background:white !important;
	border-bottom: 1px solid #bcbec0 !important;
}
.aspk_add_to_cart{
	background: none repeat scroll 0 0 padding-box #364245;
    border: 0 none;
    border-radius: 0.3em;
    box-shadow: none;
    box-sizing: border-box;
    color: #f8f8f8;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 0.857em;
    font-weight: 700;
    line-height: 1.618em;
    margin-right: 3px;
    overflow: visible;
    padding: 0.53em 0.8em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: lowercase;
    white-space: nowrap;
}
.aspk_coupon_code{
	background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 0.236em;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.618em;
    outline: medium none;
    padding: 0.382em 0.5em;
}
#aspk_proceed:hover{ 
	background-color: #666666 !important;
}

.aspk_section{
	/* margin-left:12em;
	padding-bottom: 4em;*/
	border-bottom: 1px solid #a7a9ac; 
}
.summary {
	margin-top:5em;
}
.entry-summary > h1 {
	font: 16.53px 'FuturaStdBold';
	text-transform: uppercase;
	margin-bottom: 55px;
	color: #a7a9ac;
}
.woocommerce_heading {
	border-top: 1px solid #bcbec0;
    color: #a7a9ac;
    display: block;
    font: 12px 'FuturaStdBold';
    margin: 0 0 29px;
    padding-top: 20px;
    text-transform: uppercase;
	clear:both;
}
.entry-content > p {
	font: 16px/18px 'GaramondPremierProRegular';
	margin-bottom: 1.1em;
	letter-spacing: 0px;
	color:#bcbec0;
}
.agile_single_product {
	background: #bcbec0 url(images/cart-arrow.png) no-repeat 155px center !important;
	border: 0 none !important;
	color: #fff !important;
	cursor: pointer !important;
	display: inline-block !important;
	font: 14px 'FuturaStdBold' !important;
	padding: 11px 40px 11px 28px !important;
	text-align: left !important;
	letter-spacing: 1.5px !important;
	text-decoration: none !important;
	text-shadow: none !important;
	text-transform: uppercase !important;
	white-space: nowrap !important;
	width: auto !important;
	margin-top: 0px !important;
}
.agile_single_product:hover {
	background: #666666 !important;
	background-image:url(images/cart-arrow.png) no-repeat 155px center !important;
}
.margin-left10 {
	margin-left:10em;
}
.agile_related_product {
	border-top: 1px solid #bdbdbd;
	padding-top: 2.818em;
	clear:both;
}
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
	width:22% !important;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
	font: 12px 'FuturaStdBook' !important;
	color: #a7a9ac !important;
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	display: inline;
	width: 11.11111111111111% !important;
	margin-left: 2.7777777777777777%;
	margin-right: 2.7777777777777777%;
}
.woocommerce #content div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first{
	clear: none !important;
}
.m-bottom {
	margin-bottom:1em;
}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
	font-size: 0.67em;
	color: red !important;
	text-decoration: line-through;
	margin: -2px 0 0 0;
}
.agile_related_product > .related > h2 {
	font: 16.53px 'FuturaStdBold';
	text-transform: uppercase;
	margin-bottom: 75px;

}
.agile_product_meta {
	font: 12px/20px 'FuturaStdMedium';
	text-transform: uppercase;
	float: left;
	width: 100%;
	margin-bottom: 100px;
	border-top: 1px solid #bcbec0;
	padding-top: 44px;
	margin-top: 12px;
}
.f-bold {
	float:left;
	font: 12px 'FuturaStdBold';
}
.aspk_sku {
	float:left;
	padding-left:5px;
	padding-right:5px;
}
.aspk_tags {
	padding-left:5px;
	padding-right:5px;
}
#aspk_remove_comma {
	padding-left:5px;
	padding-right:5px;
}
.sku_span {
	clear:left;
	float:left;
}
.dimension_heading{
	font: 12px 'FuturaStdBold';
	text-transform: uppercase;
	color: #a7a9ac;
	margin: 0 0 29px;
	display: block;
	border-top: 1px solid #BCBEC0;
	padding-top: 20px;
}
.agile_social_link {
	float:right;
	margin-top:2em;
}
.social-container {
	position: inherit !important;
	width:auto !important;
	height: 1em !important;
}
.social-container .links a {
	margin: 0px 5px !important;
	font-weight: normal !important;
	font-size: 22px !important;
}
.social-container .links a:hover {
	color:#BCBEC0 !important;
}
.Apple-style-span{
	color:#000000;
}
.bottom-border {
	border-bottom:1px solid;
}
#content > ul#mega-menu-aspk_header-22 > li > a {
	color: #a7a9ac !important;
	font-weight: normal !important;
	font-family: 'FuturaStdBold' !important;
	font-size: 12px !important;
}
#content > ul#mega-menu-aspk_header-22 > li > a:hover {
	color:  #666 !important;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 { 
	text-transform: uppercase;
	font: 12px 'FuturaStdBold' !important;
	color: #a7a9ac !important;
}
.footer_field {
	background: #b1b1b1;
	border: medium none;
	letter-spacing: 2px;
	max-width: 88px;
	min-height: 39px;
	padding: 0.18em 0.5em;
	margin-top: -0.5em;
	color: #fff;
	font-size: .857em;
}
.footer_span {
	float:left;
	display:inline;
}
.footer_mail_field {
	min-width: 18em ;
	border: none;
	height: 2em; 
	padding: 0.36em 1em;
}
.f_left {
	float:left;
	color: #565656 !important;
	margin-left:3px;
}
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
	background-color: transparent !important;
	content:none !important;
}
input#aspk_bili_cat:hover {
	background-color:#615E5E !important;
}
input#papu_cat:hover {
	background-color:#615E5E !important;
}
form.shipping_calculator > h2 > a:before {
	content: '\f0d1';
	font-family: 'FontAwesome';
	display: inline-block;
	font-size: 100%;
	margin-right: .618em;
	font-weight: normal;
	line-height: 1em;
	width: 1em;
}
.agile_cart_bottom  {
	margin-bottom:3em !important;
}

div.freeze {
	opacity:    0.7; 
	background: rgb(49, 51, 53); 
	width:      100%;
	height:     100%; 
	z-index:    999998;
	top:        0; 
	left:       0; 
	position:   fixed;
	/*pointer-events: none;*/
}

div#aspk_login_box{
	margin: auto;
	width: 415px;
	z-index: 999999;
	position: relative;
	left: -50%;
	top: 140px;
	visibility: visible;
	background-color: #8b8989;
	opacity: 0.8;
}

div.bottom_line{
	margin: 0;
	padding: 0 0 25px;
	border-bottom: 1px solid #ffffff;
}


#aspk_signin_fileds{
	margin: 0;
    width: 100%;
}
.aspk_wlb{
	border-bottom: 1px solid #ffffff;
    margin: 0;
    padding: 0 0 25px;
}
.aspk_heading-popup{
	border-bottom: 1px solid #ffffff;
	padding: 0 0 25px;
}
.aspk_span_filed {
	max-width: 336px;
	width:23em;
	text-align: center;
	color: #b1b1b1;
	font-family: 'FuturaStdMedium';
	font-size: 14px;
	letter-spacing: 2px;
	margin: 0 0 7px;
	line-height: 1.45em;
	padding: 0.582em 1em;
	min-height: 39px;
	vertical-align: middle;
}
.aspk_newsletter_submit {
	width: 100%;
	max-width: 166px;
	width:7em !important;
	padding: 0.18em 0.5em !important;
	line-height: 1.7em;
	background: #b1b1b1 !important;
	font-family: 'FuturaStdBold';
	text-transform: uppercase;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 2px;
	border: none !important;
	min-height: 39px;
	margin-top:10px;
	margin-bottom:10px;
}
#signin_link:hover{ 
	color:yellow !important ;
}
.reg-fb {
	background:url(images/face-b-new.png) no-repeat scroll center top !important;
	font-size: 13px;
	text-transform: uppercase;
	color:white !important ;
}
#aspk_newcart {
	background: #364245;
	padding: 6px 8px 8px !important;
}
.reg_price{
	float:left;
	font: 12px 'FuturaStdBold';
	color: #BCBEC0;
}
.reg_price_text {
	float:left;
	font: 12px 'FuturaStdMedium';
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #BCBEC0;
}
.our_p {
	font: 12px 'FuturaStdMedium';
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #BCBEC0;
}
.our_p_text {
	font: 30px 'FuturaStdBold';
	color: #BCBEC0;
	padding-bottom: 6px;
}
.woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info{
	border-top-color: rgb(102, 102, 102) !important;
}
.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before {
	background-color: transparent !important;
}

